We start with an html element stored as a string in a variable

In [1]:
!pip install bs4

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in c:\users\tarun\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\tarun\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2

https://www.crummy.com/software/BeautifulSoup/bs4/doc/

In [2]:
from bs4 import BeautifulSoup

# Sample HTML document
html_doc = """
<html>
<head><title>World's Population</title></head>
<body>
    <h1>Main Heading</h1>
    <p class="xyz">This is a paragraph.</p>
    <p class="content">Another paragraph with <a href="https://example.com">a link</a>.</p>

    <div id="container">
        <ul>
            <li class="item">Item 1</li>
            <li class="item">Item 2</li>
            <li class="item">Item 3</li>
        </ul>
    </div>

    <table>
        <tr><th>Name</th><th>Age</th></tr>
        <tr><td>Alice</td><td>25</td></tr>
        <tr><td>Bob</td><td>30</td></tr>
        <tr><td>Frank</td><td>28</td></tr>
        <tr><td>Rachel</td><td>24</td></tr>
    </table>
</body>
</html>
"""

In [3]:
soup = BeautifulSoup(html_doc, "html.parser")
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [4]:
X = soup.find("table")
print(X)

<table>
<tr><th>Name</th><th>Age</th></tr>
<tr><td>Alice</td><td>25</td></tr>
<tr><td>Bob</td><td>30</td></tr>
<tr><td>Frank</td><td>28</td></tr>
<tr><td>Rachel</td><td>24</td></tr>
</table>

In [5]:
Y = X.find_all("tr")
for i in Y:
  print(i.text)

NameAge
Alice25
Bob30
Frank28
Rachel24

In [6]:
for i in Y:
  a =i.find_all("th")
  print(a)
  b= []
  for j in a:
    b.append(j.text)

  #b = [j.text for j in a]

  break

print(b)
# [<th>Name</th>, <th>Age</th>]
# ['Name', 'Age']

[<th>Name</th>, <th>Age</th>]
['Name', 'Age']

In [7]:
D=[]
for k in Y[1:]:
  c =k.find_all("td")
  #print(c)
  d= []
  for m in c:
    d.append(m.text)
  D.append(d)

  #b = [j.text for j in a]

print(D)

[['Alice', '25'], ['Bob', '30'], ['Frank', '28'], ['Rachel', '24']]

In [8]:
Dic ={}
z = 0
for n in b:
  Dic[n]=[x[z] for x in D]
  z+=1

Dic
for i,j in Dic.items():
  print(i,j)

Name ['Alice', 'Bob', 'Frank', 'Rachel']
Age ['25', '30', '28', '24']

In [9]:
# 1. Finding table
# 2. Headers
# 3. rows
# 4. Dictionary
# 5. DataFrame
# 6. Plots(matplotlib)

In [10]:
import pandas as pd
df = pd.DataFrame(Dic)
df

     Name Age
0   Alice  25
1     Bob  30
2   Frank  28
3  Rachel  24

In [11]:
df.to_csv('agedata.csv')

In [12]:
#Finding things via tags

# 1. **Basic Parsing**
print("Page Title:", soup.body.text)  # Extract title
#Limitation: Finds first occurence only

Page Title:
Main Heading
This is a paragraph.
Another paragraph with a link.


Item 1
Item 2
Item 3



NameAge
Alice25
Bob30
Frank28
Rachel24

In [13]:
# 10. **Prettifying HTML Output**
x = BeautifulSoup("<html><body><span>This is first</span><p>This is second</p></body></html>","html.parser")
print(x)
print("\nPrettified HTML:")
print(x.prettify())

<html><body><span>This is first</span><p>This is second</p></body></html>

Prettified HTML:
<html>
 <body>
  <span>
   This is first
  </span>
  <p>
   This is second
  </p>
 </body>
</html>

In [14]:
# 2. **Finding Elements**
print("\nFind first paragraph:",(soup.find("p").text) ) # First <p> tag
print(type(soup.find("p").text))
print("Find all paragraphs:", soup.find_all("p"))  # All <p> tags
x = []
for i in soup.find_all("p"):
  x.append(i.text)
print(x)

Find first paragraph: This is a paragraph.
<class 'str'>
Find all paragraphs: [<p class="xyz">This is a paragraph.</p>, <p class="content">Another paragraph with <a href="https://example.com">a link</a>.</p>]
['This is a paragraph.', 'Another paragraph with a link.']

In [15]:
# 3. **Using CSS Selectors**
print("\nUsing CSS Selectors:")
print(soup.select("p")[0].text)  # Select by tag name
print(soup.select(".xyz")[0].text)  # Select by class
print(soup.select("#container ul li")[1].text)   # Selects the element with id="container" # Select second list item in <ul>

Using CSS Selectors:
This is a paragraph.
This is a paragraph.
Item 2

In [16]:
# 4. **Navigating the DOM**
print("\nNavigating the DOM:")
print(soup.body.h1.text)  # First <h1> tag inside <body>
print(soup.body.div.ul.li.text)  # First <li> inside <div> -> <ul>

Navigating the DOM:
Main Heading
Item 1

In [17]:
# 5. **Extracting Attributes**
link = soup.find("a")
print(link.text)
print("\nExtracting Attributes:")
print("Link URL:", link["href"])  # Extract href attribute of <a>

a link

Extracting Attributes:
Link URL: https://example.com

In [18]:

# 6. **Modifying HTML**
print("\nModifying HTML:")
soup.find("h1").string = "Updated Heading"
print(soup.h1.text)

Modifying HTML:
Updated Heading

In [19]:
# 7. **Extracting Text**
print("\nExtracting All Text from Page:")
print(soup.get_text(separator='|'))

Extracting All Text from Page:

|
|World's Population|
|
|Updated Heading|
|This is a paragraph.|
|Another paragraph with |a link|.|
|
|
|Item 1|
|Item 2|
|Item 3|
|
|
|
|Name|Age|
|Alice|25|
|Bob|30|
|Frank|28|
|Rachel|24|
|
|
|

In [20]:
# 9. **Decomposing (Removing) Elements**
soup.find("h1").decompose()  # Remove <h1> tag
print("\nAfter Removing h1:", soup)

After Removing h1:
<html>
<head><title>World's Population</title></head>
<body>

<p class="xyz">This is a paragraph.</p>
<p class="content">Another paragraph with <a href="https://example.com">a link</a>.</p>
<div id="container">
<ul>
<li class="item">Item 1</li>
<li class="item">Item 2</li>
<li class="item">Item 3</li>
</ul>
</div>
<table>
<tr><th>Name</th><th>Age</th></tr>
<tr><td>Alice</td><td>25</td></tr>
<tr><td>Bob</td><td>30</td></tr>
<tr><td>Frank</td><td>28</td></tr>
<tr><td>Rachel</td><td>24</td></tr>
</table>
</body>
</html>

In [21]:
# 8. **Working with Tables**
table1 = soup.find("table")
rows = table1.find_all("tr")
print(rows)
print("\nTable Data:")
for row in rows:
   cols = row.find_all("td")
   if cols:
        print(f"Name: {cols[0].text}, Age: {cols[1].text}")

[<tr><th>Name</th><th>Age</th></tr>, <tr><td>Alice</td><td>25</td></tr>, <tr><td>Bob</td><td>30</td></tr>, <tr><td>Frank</td><td>28</td></tr>, <tr><td>Rachel</td><td>24</td></tr>]

Table Data:
Name: Alice, Age: 25
Name: Bob, Age: 30
Name: Frank, Age: 28
Name: Rachel, Age: 24

In [22]:
# Print header
header_cols = rows[0].find_all("th")
print(f"{'':<3}{header_cols[0].text:<8}{header_cols[1].text:<3}")

# Print table rows with numbering
for index, row in enumerate(rows[1:], start=1):
    cols = row.find_all("td")
    if cols:
        print(f"{index:<3}{cols[0].text:<8}{cols[1].text:<3}")

   Name    Age
1  Alice   25
2  Bob     30
3  Frank   28
4  Rachel  24

In [23]:
x=[i.text for i in header_cols]
x

['Name', 'Age']

In [24]:
rows[1:]

[<tr><td>Alice</td><td>25</td></tr>,
 <tr><td>Bob</td><td>30</td></tr>,
 <tr><td>Frank</td><td>28</td></tr>,
 <tr><td>Rachel</td><td>24</td></tr>]

In [25]:
data=[]
for i in rows[1:]:
  z=[j.text for j in i.find_all("td")]
  data.append(z)
data

[['Alice', '25'], ['Bob', '30'], ['Frank', '28'], ['Rachel', '24']]

In [26]:
D={}
n=0
for k in x:
  D[k] = [m[n] for m in data]
  n+=1

D

{'Name': ['Alice', 'Bob', 'Frank', 'Rachel'], 'Age': ['25', '30', '28', '24']}

In [27]:
import pandas as pd
df = pd.DataFrame(D)
df

     Name Age
0   Alice  25
1     Bob  30
2   Frank  28
3  Rachel  24

In [28]:
df.index = range(1, len(df) + 1)
df

     Name Age
1   Alice  25
2     Bob  30
3   Frank  28
4  Rachel  24

In [29]:
df.to_csv('agedata.csv')

In [30]:
# Convert to JSON
json_data = df.to_json()
print(json_data)

{"Name":{"1":"Alice","2":"Bob","3":"Frank","4":"Rachel"},"Age":{"1":"25","2":"30","3":"28","4":"24"}}

In [31]:
df.to_json("agedata.json")

In [32]:
x='<html><th>Location</th><th>Population</th></html>'

In [33]:
x

'<html><th>Location</th><th>Population</th></html>'

In [34]:
print(type(x))

<class 'str'>

Importing Beautiful Soup, provided it's already installed

In [35]:
from bs4 import BeautifulSoup

In [36]:
soup=BeautifulSoup(x)
print(soup)
print(type(soup))

<html><body><th>Location</th><th>Population</th></body></html>
<class 'bs4.BeautifulSoup'>

Finding First Occurence, soup.find is helping us find the first occurence

In [37]:
firstfind = soup.find('th')
print(firstfind)
print(type(firstfind))
print(firstfind.text)
print(type(firstfind.text))

<th>Location</th>
<class 'bs4.element.Tag'>
Location
<class 'str'>

Finding All occurences, soup.find_all is helping us find all occurences

In [38]:
allfind=soup.find_all('th')
print(allfind)
print(type(allfind))
# print(allfind.text)#Error
# print(type(allfind.text))#Error
print(soup.get_text())

[<th>Location</th>, <th>Population</th>]
<class 'bs4.element.ResultSet'>
LocationPopulation

In [39]:
for i in allfind:
  print(i)

<th>Location</th>
<th>Population</th>

In [40]:
for i in allfind:
  print(i.text)

Location
Population

In [41]:
headers=[]
for i in allfind:
  headers.append(i.text)

headers

['Location', 'Population']

By List Comprehension

In [42]:
headers = [i.text for i in allfind]
headers

['Location', 'Population']


# Beautiful Soup Quiz - Code Tracing

This notebook contains 10 questions focused on code tracing for Beautiful Soup. Each question includes code snippets, multiple-choice options, and the correct answer. Run the cells to see the correct answers.

### Question 1
```python

from bs4 import BeautifulSoup

html_doc = "<html><body><h1>Hello, World!</h1></body></html>"
soup = BeautifulSoup(html_doc, "html.parser")
print(soup.h1.text)
```

**Options:**
A) <h1>Hello, World!</h1>
B) Hello, World!
C) None
D) Error: AttributeError

In [43]:
# Correct Answer
print("Correct Answer: B) Hello, World!")

Correct Answer: B) Hello, World!

### Question 2
```python

from bs4 import BeautifulSoup

html_doc = "<html><body><p class='info'>Python</p><p>Beautiful Soup</p></body></html>"
soup = BeautifulSoup(html_doc, "html.parser")
print(soup.find('p').text)
```

**Options:**
A) Python
B) Beautiful Soup
C) <p class='info'>Python</p>
D) None

In [44]:
# Correct Answer
print("Correct Answer: A) Python")

Correct Answer: A) Python

### Question 3
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <p class='content'>Paragraph 1</p>
    <p>Paragraph 2</p>
    <p class='content'>Paragraph 3</p>
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
result = soup.find_all('p', class_='content')
for item in result:
    print(item.text)
```

**Options:**
A) Paragraph 1
B) Paragraph 1 and Paragraph 3
C) Paragraph 2
D) None

In [45]:
# Correct Answer
print("Correct Answer: B) Paragraph 1 and Paragraph 3")

Correct Answer: B) Paragraph 1 and Paragraph 3

### Question 4
```python

from bs4 import BeautifulSoup

html_doc = "<html><a href='https://example.com'>Visit Example</a></html>"
soup = BeautifulSoup(html_doc, "html.parser")
print(soup.a['href'])
```

**Options:**
A) https://example.com
B) Visit Example
C) <a href='https://example.com'>Visit Example</a>
D) None

In [46]:
# Correct Answer
print("Correct Answer: A) https://example.com")

Correct Answer: A) https://example.com

### Question 5
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <div>
      <h1>Title</h1>
      <p>Description</p>
    </div>
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
print(soup.div.h1.text)
```

**Options:**
A) Title
B) Description
C) <h1>Title</h1>
D) None

In [47]:
# Correct Answer
print("Correct Answer: A) Title")

Correct Answer: A) Title

### Question 6
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <ul>
      <li>Item 1</li>
      <li>Item 2</li>
      <li>Item 3</li>
    </ul>
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
items = soup.find_all('li')
print(len(items))
```

**Options:**
A) 1
B) 2
C) 3
D) 0

In [48]:
# Correct Answer
print("Correct Answer: C) 3")

Correct Answer: C) 3

### Question 7
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <div id="main">
      <p class="text">First</p>
      <p class="text">Second</p>
    </div>
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
result = soup.select('#main .text')
for item in result:
    print(item.text)
```

**Options:**
A) First
B) First and Second
C) Second
D) None

In [49]:
# Correct Answer
print("Correct Answer: B) First and Second")

Correct Answer: B) First and Second

### Question 8
```python

from bs4 import BeautifulSoup

html_doc = "<html><body><h1>Hello</h1><p>World</p></body></html>"
soup = BeautifulSoup(html_doc, "html.parser")
print(soup.get_text())
```

**Options:**
A) Hello World
B) Hello\nWorld
C) <h1>Hello</h1><p>World</p>
D) None

In [50]:
# Correct Answer
print("Correct Answer: B) Hello\nWorld")

Correct Answer: B) Hello
World

### Question 9
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <img src="image1.png" alt="First Image">
    <img src="image2.png" alt="Second Image">
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
image = soup.find('img', alt='Second Image')
print(image['src'])
```

**Options:**
A) image1.png
B) image2.png
C) <img src='image2.png' alt='Second Image'>
D) None

In [51]:
# Correct Answer
print("Correct Answer: B) image2.png")

Correct Answer: B) image2.png

### Question 10
```python

from bs4 import BeautifulSoup

html_doc = """
<html>
  <body>
    <p class="info detail">Content 1</p>
    <p class="info">Content 2</p>
  </body>
</html>
"""
soup = BeautifulSoup(html_doc, "html.parser")
result = soup.find_all('p', class_='info')
for item in result:
    print(item.text)
```

**Options:**
A) Content 1
B) Content 2
C) Content 1 and Content 2
D) None

In [52]:
# Correct Answer
print("Correct Answer: C) Content 1 and Content 2")

Correct Answer: C) Content 1 and Content 2

**One Small Project**

Beautiful Soup is a Python library used for web scraping purposes. It allows you to extract and manipulate data from HTML and XML documents. Here's an example to demonstrate how to use Beautiful Soup to scrape and process a webpage:

**Example: Scraping Titles of Blog Posts**

In [53]:
from bs4 import BeautifulSoup
import requests

# URL of the webpage you want to scrape (using a real blog URL for example)
url = 'https://realpython.com/'

# Send an HTTP request to the webpage
response = requests.get(url)
print(response)

# Parse the HTML content of the page
soup = BeautifulSoup(response.text, 'html.parser')

# print(soup.text)

# Extract all the blog post titles (example: assuming titles are in <h2> tags with class 'card-title')
titles = soup.find_all('h2', class_='card-title')

# # Print the extracted titles
# print("Blog Post Titles:")
# for i, title in enumerate(titles, 1):
#     print(f"{i}. {title.text.strip()}")

<Response [200]>

In [54]:
import pandas as pd

# Create a DataFrame
data = {"Title": [title.text.strip() for title in titles]}
df = pd.DataFrame(data)
df.index = range(1, len(df) + 1)
# Display the DataFrame
print(df)

                                                Title
1                    Python Keywords: An Introduction
2   Building a Python Command-Line To-Do App With ...
3                       How to Join Strings in Python
4                     How to Split a String in Python
5             NumPy Techniques and Practical Examples
6                  Python for Loops: The Pythonic Way
7        Build a Dice-Rolling Application With Python
8   Develop Data Visualization Interfaces in Pytho...
9                Build a Quiz Application With Python
10                            Top Python Game Engines
11   Natural Language Processing With spaCy in Python
12   A Guide to Modern Python String Formatting Tools
13   Build a Tic-Tac-Toe Game With Python and Tkinter
14  Python & APIs: A Winning Combo for Reading Pub...
15  Providing Multiple Constructors in Your Python...
16  Split Your Dataset With scikit-learn's train_t...
17  Creating a Scalable Flask Web Application From...
18  How to Split a Python List or Iterable Into Ch...
19      Python Folium: Create Web Maps From Your Data

Step 1: Import Libraries
The first step is to import the necessary libraries: BeautifulSoup for parsing the HTML content of the webpage and requests for making HTTP requests. These libraries allow us to retrieve the webpage and extract specific elements from its structure.

Step 2: Specify the Target URL
You define the URL of the webpage you want to scrape. In this project, the target is a blog site, such as "https://realpython.com/". This URL serves as the entry point for fetching the content that you want to analyze.

Step 3: Send an HTTP Request
An HTTP GET request is sent to the specified URL using the requests library. The server responds with the HTML content of the webpage, which we can then process. This step ensures you have access to the page's raw content.

Step 4: Parse the HTML Content
The HTML content from the response is passed to BeautifulSoup, which parses it and converts it into a structured format that can be navigated like a tree. This enables you to efficiently locate and extract specific elements (e.g., titles, links, or text) from the webpage.

Step 5: Locate Blog Post Titles
BeautifulSoup's find_all method is used to search for specific tags (e.g., <h2>) and their associated class attributes (e.g., class='card-title'). This method retrieves all the matching elements, which in this case are the blog post titles. The find_all function returns a list containing these elements.

Step 6: Loop Through Titles
The list of blog post titles is iterated using a loop. For each title, the text content is extracted using the .text attribute of the tag, and unnecessary whitespace is removed using the .strip() method. The loop prints each title alongside its position in the list.

Step 7: Display the Extracted Titles
Finally, the extracted blog titles are displayed as a numbered list. Each title is printed in a clean format, making it easy to see the output of the project. This step concludes the task, giving you a clear view of the blog posts retrieved from the webpage.

This step-by-step process demonstrates the basic workflow of web scraping: accessing a webpage, parsing its structure, and extracting specific data in a meaningful way.